* {
    font-family: "OverpassM Nerd Font";
    font-weight: bold;
    font-size: 14px;
    /* min-height: 20px; */
    background-color: #1a1b26;
    border: none;
    border-radius: 20px;
    margin-left: 2px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f6f6ee;
    border-radius: 0;
    /* border: 1px solid #c4c4b5; */
}

tooltip * {
    background: #1a1b26;
    opacity: 0.8;
    color: #e7e7ec;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 0;
    color: #313244;
    margin-top: 3px;
    margin-bottom: 3px;
}

#workspaces button.focused {
    color: #a6adc8;
}

#workspaces button.active {
    color: #d8f0ff;
    /* background: #1e1e2e; */
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #e5f5ff;
    border-radius: 10px;
}

#custom-light_dark,
#custom-launch_rofi,
#custom-weather,
#window,
#clock,
#disk,
#cpu,
#custom-updates,
#custom-lock_screen,
#custom-pacman,
#memory,
#battery,
#pulseaudio,
#temperature,
#workspaces,
#tray,
#backlight {
    /* background: #1b1b29; */
    opacity: 0.8;
    padding: 1px 0px;
    /* margin: 3px 0px; */
    /* margin-top: 10px; */
    margin: 2px 0px;
    /* border: 2px solid #c4c4b5; */
}

#temperature {
    border-radius: 10px 0px 0px 10px;
    color: #d8f0ff;
}

#temperature.critical {
    color: #db4b4b;
}

#custom-launch_rofi {
    color: #7dcfff;
    /* color: #89b4fa; */
    /* margin-left: 10px; */
    /* padding-right: 6px; */
    margin-top: 8px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
    color: #d8f0ff;
}

#tray {
    border-radius: 10px 0px 0px 10px;
}

#custom-lock_screen {
    color: #97e023;
    border-radius: 10px 0px 0px 10px;
    /* margin-left: 10px; */
    /* padding-right: 4px; */
}

#cpu {
    color: #ff9e64;
    /* color: #fa8419; */
    border-radius: 0px;
    border-left: 0px;
}

#memory {
    color: #7dcfff;
    /* color: #16b1df; */
    border-radius: 0px;
    border-left: 0px;
}

#disk {
    /* color: #a9b1d6; */
    color: #7aa2f7;
    /* color: #9c64fe; */
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
}

#custom-updates {
    border-radius: 10px;
    /* margin-left: 10px; */
}

#workspaces {
    /* background: #1e1e2e; */
    border-radius: 10px;
    /* margin-left: 10px; */
    /* padding-right: 0px; */
    /* padding-left: 5px; */
}

#custom-light_dark {
    margin-bottom: 8px;
}

#window {
    border-radius: 10px;
    /* margin-left: 60px; */
    /* margin-right: 60px; */
}

#clock {
    color: #e0af68;
    /* color: #fa8419; */
    border-radius: 10px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

#pulseaudio {
    color: #7dcfff;
    /* color: #16b1df; */
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 0px;
}

#pulseaudio.microphone {
    color: #bb9af7;
    /* color: #9c64fe; */
    border-radius: 0px 10px 10px 0px;
    /* margin-right: 10px; */
}

#battery {
    /* color: #97e023; */
    color: #9ece6a;
    border-radius: 0 10px 10px 0;
    /* margin-right: 10px; */
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#custom-pacman {
    color: #e5f5ff;
}
